.blog {
  margin-top: 15rem;
  min-height: 100vh;
  padding: 0;
  flex-flow: column wrap;

  &__highlights {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-flow: row wrap;
    margin-bottom: 5rem;

    &-main {
      flex: 1;
      min-width: 30rem;
      height: calc(25rem + 25vh);
      z-index: 5;
      position: relative;
      color: var(--color-text);
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      &-image {
        background-image: url("../images/Luo\ Yi_Skins\ _\ Mobile\ Legends_\ Bang\ Bang\ Wiki\ _\ Fandom.jpg");
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        z-index: 0;

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: var(--color-showcase-filter);
        }
      }

      &:hover {
        .blog__highlights-main-image {
          &::after {
            background: transparent;
          }
        }
      }

      &-title {
        z-index: 5;
        color: var(--color-active);
      }

      &-categories {
        z-index: 5;
        display: flex;
        color: var(--color-white);
        position: absolute;
        top: 2rem;
        left: 2rem;
        flex-wrap: wrap;

        p {
          padding: 0.25rem 1rem;
          border-radius: 0.5rem;
          margin-right: 1rem;
          font-size: 1.3rem;
          z-index: 5;
          display: none;
          cursor: pointer;
        }

        @for $i from 1 through 3 {
          p:nth-child(3n + #{$i}) {
            background-color: var(--color-categories-#{$i});
            border: 1px solid var(--color-categories-#{$i});
            color: var(--color-text);
            display: block;

            &:hover {
              background-color: var(--color-categories-hover);
              border: 1px solid var(--color-categories-#{$i});
              color: var(--color-categories-#{$i});
            }
          }
        }
      }

      &-desc {
        font-size: 1.3rem;
        z-index: 5;
      }

      &-metadata {
        z-index: 5;
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-size: 1.2rem;

        p {
          z-index: 5;
          margin-bottom: 0;
        }
      }
    }

    &-sub {
      flex: 2;
      min-width: 40rem;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      margin: 0 5rem;
      margin-right: 0;

      &-card {
        background-color: var(--color-card);
        color: var(--color-text);
        display: flex;
        border: 1px solid var(--color-card-border);

        &-img {
          height: 100%;
          width: 30%;
          object-fit: cover;
        }

        &-details {
          padding: 1rem 2rem;

          &-title {
            font-size: 2rem;
            color: var(--color-active);
          }

          &-desc {
            font-size: 1.3rem;
          }

          &-categories {
            z-index: 5;
            display: flex;
            color: var(--color-white);
            flex-wrap: wrap;

            p {
              padding: 0rem 1rem;
              border-radius: 0.5rem;
              margin-right: 1rem;
              font-size: 1.2rem;
              z-index: 5;
              display: none;
              cursor: pointer;
            }

            @for $i from 1 through 3 {
              p:nth-child(3n + #{$i}) {
                background-color: var(--color-categories-#{$i});
                border: 1px solid var(--color-categories-#{$i});
                color: var(--color-text);
                display: block;

                &:hover {
                  background-color: var(--color-categories-hover);
                  border: 1px solid var(--color-categories-#{$i});
                  color: var(--color-categories-#{$i});
                }
              }
            }
          }
        }
      }
    }
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;

    &-content {
      flex: 3;
      margin-right: 5rem;

      &-posts{
        min-width: 37rem;
      }

      &-categories{
        
      }
    }

    &-sidebar {
      flex: 1;
      min-width: 30rem;
      display: flex;
      width: 100%;
      border: 1px solid var(--color-card-border);
      padding: 2rem;
      background-color: var(--color-card);
      border-radius: 2rem;
      flex-flow: column;
      height: fit-content;

      &-posts {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding-bottom: 3rem;
        border-bottom: 1px solid var(--color-text-m);

        &-tabs {
          width: 100%;
          display: flex;
          justify-content: space-between;
          height: fit-content;
          background-color: var(--color-sidebar-tab);
          border-radius: 2rem;

          &>a {
            padding: 1.5rem 2rem;
            font-size: 2rem;
            color: var(--color-text);
            display: flex;
            align-items: center;
            border-radius: 2rem;
            cursor: pointer;

            &.active {
              background-color: var(--color-hover);
              color: var(--color-white);
            }
          }
        }

        &-content {
          &>div {
            display: none;
            padding: 1.5rem 0;
            flex-flow: row wrap;

            &>img {
              width: 6rem;
              height: 6rem;
              border-radius: 1rem;
              object-fit: cover;
            }

            &>div {
              padding-left: 1rem;
              color: var(--color-text);

              h1 {
                font-size: 2rem;
              }

              p {
                color: var(--color-text-m);
              }
            }

            &.active {
              display: flex;
            }
          }

          &-tags {
            &>a {
              font-size: 1.5rem;
              margin-right: 1rem;
              text-transform: capitalize;
              font-weight: 400;
            }
          }
        }
      }

      &-featured {
        color: var(--color-text);
        margin-top: 3rem;
        cursor: pointer;

        h1 {
          font-size: 2rem;
        }

        &-content {
          padding: 1rem;

          img {
            border-radius: 2rem;
          }

          div {
            padding: 1rem;

            p {
              font-size: 1.2rem;
              color: var(--color-text-m);
            }
          }

          &:hover{
            filter: opacity(0.8);
          }
        }
      }
    }
  }

  //*-*-*-*-*-*-*-*-*-*-- The 1200px Mark Break Point*-*-*-*-*-*-*-*-*-*-*
  @include media-desktop {
    &__highlights {
      &-sub {
        &-card {
          padding-right: 0;
        }
      }
    }
  }

  //*-*-*-*-*-*-*-*-*-*-- The 1000px Mark Break Point*-*-*-*-*-*-*-*-*-*-*
  @include media-tablet {
    padding: 0;

    &__highlights {
      &-main {
        height: 60rem;
        min-width: 20rem;
      }

      &-sub {
        margin: 0rem 1rem;

        &-card {
          &-img {
            width: 20%;
          }
        }
      }
    }
  }

  @include media-large {
    margin-top: 10rem;

    &__main {
      &-content {
        margin-right: 0rem;
  
        &-posts{
          min-width: 37rem;
          margin-bottom: 5rem;
        }
      }
    }

    &__highlights {
      &-sub {
        margin: 3rem 0;

        &-card {
          margin: 1rem 0;
        }
      }
    }
  }

  @include media-medium {
    margin-top: 0rem;
    padding: 0rem;

    &__highlights {
      &-sub {
        padding: 0 1rem;
      }
    }
  }

  @include media-small {
    &__highlights {
      &-sub {
        &-card {
          width: calc(100vw - 2rem);
        }
      }
    }
  }
}